section#intro {
  background-color: #d3e8ea;
  position: relative;
}
section#intro::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: white;
}
section#intro div.wrap {
  
}
section#intro div.wrap h2 {
  
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 25px;
}
section#intro div.wrap ul.introbox {
  
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
section#intro div.wrap ul.introbox li {
  width: 30%;
  border: 1px solid lightgray;
  border-radius: 0 50px 0 50px;
  overflow: hidden;
  background-color: white;
}
section#intro div.wrap ul.introbox li a {
  
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section#intro div.wrap ul.introbox li a img {
  
  width: 100%;
  border-radius: 0 0 0 50px;
}
section#intro div.wrap ul.introbox li a h3 {
  
  font-size: 20px;
  font-weight: 500;
}
section#intro div.wrap ul.introbox li a p {
  
  margin-bottom: 30px;
  padding: 0 15px;
  line-height: 1.2;
  text-align: center;
  font-size: 14px;
  color: gray;
}